:root{
    --rojoclaro:#F8B8B8;
    --vinotinto:#BD2222;
    --vino:#800000;
    --blanco:#FFFFFF;

}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
.nav-principal{
    display: flex;
    flex-direction: column;
    background-color: var(--vinotinto);
    
}
@media (min-width: 768px) {
    .nav-principal {
        flex-direction: row;
        justify-content: space-around;
    }
}

.nav-principal a{

    font-family: 'Pacifico', cursive;
    color: var(--blanco);
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 700; 
    
}
.nav-principal a:hover{
    background-color: var(--vino);
    font-weight: bolder;
    border-radius: 0.5rem;
}

.App{
    background-image: linear-gradient(to top, var(--blanco) 0%, var(--rojoclaro) 60%);
}
.logonav{
    height: auto;
    background-color: var(--rojoclaro);
    
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}
.imglogo{
    width: 15rem;
    height: 15rem;
}
.icon1{
    font-size: 3em;
    line-height: 0,046875em;
    vertical-align: -0,28125em;
    color: #C13584;
    padding: 1rem;
}
.icon2{
    font-size: 3em;
    line-height: 0,046875em;
    vertical-align: -0,28125em;
    color: #4267B2;
}
.icon3{
    font-size: 3em;
    line-height: 0,046875em;
    vertical-align: -0,28125em;
    color: black;
    cursor: pointer;
}

